modules = ["nodejs-20"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx vite --host --port 5000 --no-cors"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33883
externalPort = 3000

[[ports]]
localPort = 42905
externalPort = 3002

[nix]
channel = "stable-25_05"

[agent]
expertMode = true
